/************
 * 页面样式
 ************/

/* ==========
   基本默认值
   ========== */

html {
    font-size: 62.5%;
    color: #222;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}
p {
  margin: 0;
}

/* ==========
   工具样式
   ========== */

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

.text-right {
    text-align: right !important;
}

.text-left {
    text-align: left !important;
}

.text-center {
    text-align: center !important;
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}

.invisible {
    visibility: hidden;
}

.text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}


/* ===============
      时钟样式
   =============== */
.clock{
   background-color:#202020;
   font:bold 1rem Arial, Helvetica, sans-serif;
   margin:0;
   padding:0;    
   width:100%; 
   color:#FFF;
}


#Date { font-family:'BebasNeueRegular', Arial, Helvetica, sans-serif; font-size:2rem; text-align:center; text-shadow:0 0 5px #00c6ff; }

.clock ul { width:100%; margin:0 auto; padding:0px; list-style:none; text-align:center; }
.clock ul li { display:inline; font-size:5rem; text-align:center; font-family:'BebasNeueRegular', Arial, Helvetica, sans-serif; text-shadow:0 0 5px #00c6ff; }

#point { position:relative; -moz-animation:mymove 1s ease infinite; -webkit-animation:mymove 1s ease infinite; padding-left:10px; padding-right:10px; }

@-webkit-keyframes mymove 
{
0% {opacity:1.0; text-shadow:0 0 20px #00c6ff;}
50% {opacity:0; text-shadow:none; }
100% {opacity:1.0; text-shadow:0 0 20px #00c6ff; }  
}


@-moz-keyframes mymove 
{
0% {opacity:1.0; text-shadow:0 0 20px #00c6ff;}
50% {opacity:0; text-shadow:none; }
100% {opacity:1.0; text-shadow:0 0 20px #00c6ff; }  
}


/* ===============
   自定义页面样式
   =============== */

.left{
	width: 20%;
}

.leftUp{
	
}
.real_wathch{
	position: relative;
}

.real_wathch img{
	width: 100%;
}

.real_wathch #watchCanvas{
	position: absolute;
	width: 45%;
	top: 32.5%; 
	left: 28%; 	

}

.middle{
	width: 40%;
}



.right{
	width: 39%;
}

.storehouse .up_img_btn_box{
  display: flex;
  flex-direction:row-reverse;
}
.storehouse .up_img_btn_box input[type="file"]{
  display: none;
}

.storehouse .up_img_btn_box button{
  border: 0;
  margin: 0;
  padding: 0; 
  width: 5rem;
  height: 5rem; 
  background: url('../img/img_plus.gif') no-repeat center;
  background-size: cover;
}

.storehouse .previewContainer{
  width: 100%;
  height: 300px;
  max-height: 300px;
  overflow: auto;
  padding-left: 1px;
  display: flex;
  display: -webkit-flex; /* Safari */
  flex-wrap: wrap;  
  align-items: flex-start;
}
.storehouse .previewContainer .previewTray{
  border: 1px solid blue;
  margin: 4px 4px 0 0;
  
  max-width: 30%;
  
}

#imgBoxAndboxName .boxNameBar{
  margin:1rem 0 0 1rem; 
  background-color: #aaa;
  width: auto;
  max-height: 95px;
  overflow: auto; 

}

#imgBoxAndboxName .boxNameBar #boxNameBarList{
  
  display: flex;
  display: -webkit-flex; /* Safari */
  flex-wrap: wrap;    
  align-content:flex-start;
  margin-bottom:  -4px;
}

#imgBoxAndboxName .boxNameBar li{

  border: 2px solid #C71585;
  display: inline-flex;
  display: -webkit-inline-flex; /* Safari */
  
}
#imgBoxAndboxName .boxNameBar .boxNameString{
  /*margin-right: 1x0p;*/
  padding: 2px;
  padding-right: 0;
  width: 45px;
  border-bottom: 0px;
  cursor: default;
}

#imgBoxAndboxName .boxNameBar li{
  margin: 0px 8px 5px 0;
}

#imgBoxAndboxName .boxNameBar li:hover{
  /*background-color: red;*/
  -moz-box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
  box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
}

#imgBoxAndboxName .boxNameBar .boxNameStringSelect{
  background-color: lightcoral;
}

#imgBoxAndboxName .boxNameBar .addImgBoxBtn{
  padding: 0;  
  width: 25px;
  height: 25px;   
  background: url('../img/img_plus.gif') no-repeat center;
  background-size: cover;
}

#imgBoxAndboxName .boxNameBar li button{
  padding: 0;  
  width: 20px;
  background: url('../img/close_icon.gif') no-repeat center;
  background-size: cover;
}

#imgBoxAndboxName .imgBox{
  width: auto; 
  border:2px solid #C71585;
  border-top: 0px;
  margin-left: 1rem;

  display: flex;
  display: -webkit-flex; /* Safari */
  flex-wrap: wrap;  
  align-items: flex-start;
  align-content:space-around;
}

.rightMiddle{
  width: 100%;
  max-height: 200px;
  overflow:auto;

}

.addLayer{
  margin-left: 1rem;
  padding-top: 10px; 
}

.layerInfoBar{
  display: flex;
  display: -webkit-flex; /* Safari */
  flex-wrap: wrap;  
  align-items: center;
  align-content:space-around;
  padding-bottom:10px;
}

.layerInfoBar input{
  width: 40px;
  /*margin-right: 10px;*/
}

.layerInfoBar button{
  padding: 0;
  margin-left: 10px;  
  width: 20px;
  height: 20px;
  background: url('../img/close_icon.gif') no-repeat center;
  background-size: cover;
}
