/************
 * 页面样式
 ************/

/* ==========
   基本默认值
   ========== */

html {
    font-size: 62.5%;
    color: #222;
}

body{
  background: rgb(239, 239, 239);
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}
p {
  margin: 0;
}

a{
  text-decoration: none;
}
/* ==========
   工具样式
   ========== */

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

.text-right {
    text-align: right !important;
}

.text-left {
    text-align: left !important;
}

.text-center {
    text-align: center !important;
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}

.invisible {
    visibility: hidden;
}

.text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}


/* ===============
      时钟样式
   =============== */
.clock{
   background-color:#202020;
   font:bold 1rem Arial, Helvetica, sans-serif;
   margin:0;
   padding:0;    
   width:100%; 
   color:#FFF;
   cursor: default;
   padding-top: 10px;
}

#Date {
  font-family: 'BebasNeueRegular', Arial, Helvetica, sans-serif;
  font-size: 2rem;
  text-align: center;
  text-shadow: 0 0 5px #00c6ff;
}

.clock ul {
  width: 100%;
  margin: 0 auto;
  padding: 0px;
  list-style: none;
  text-align: center;
}

.clock ul li {
  display: inline;
  font-size: 5rem;
  text-align: center;
  font-family: 'BebasNeueRegular', Arial, Helvetica, sans-serif;
  text-shadow: 0 0 5px #00c6ff;
}

#point {
  position: relative;
  -moz-animation: mymove 1s ease infinite;
  -webkit-animation: mymove 1s ease infinite;
  padding-left: 10px;
  padding-right: 10px;
}

/*@-webkit-keyframes mymove 
{
0% {opacity:1.0; text-shadow:0 0 20px #00c6ff;}
50% {opacity:0; text-shadow:none; }
100% {opacity:1.0; text-shadow:0 0 20px #00c6ff; }  
}


@-moz-keyframes mymove 
{
0% {opacity:1.0; text-shadow:0 0 20px #00c6ff;}
50% {opacity:0; text-shadow:none; }
100% {opacity:1.0; text-shadow:0 0 20px #00c6ff; }  
}*/


/* ===============
   自定义页面样式
   =============== */

#nav-contain nav {
  background-color: #222;
  height: 75px;
  position: relative; 
  border-bottom: 3px solid rgb(0, 102, 157);
  margin-bottom: 4px;
}

#back-index {   
  display: inline-block; 
  position: absolute;
  top:10px;
  left: 4%;  
}

#back-index img{
   height: 50px;
   width: 160px;   
}

#maibuFactory{
  margin: 0;
  width: 100%;
  text-align: center;
  font-size: 6rem;
  font-family: Arial, Helvetica, sans-serif, monospace;
  position: absolute;
  color: #2ab6cc;
  cursor:default;
  padding-top: 0px;
}

#nav-btns{
  display: inline-block; 
  position: absolute;
  top:30px;
  left: 85%;

}

#nav-btns > .nav-btn {
  list-style: none;
  display: inline-block;
}


li.nav-btn > a {
  font-size: 2.25rem;
  line-height: 0px;
  color: #2ab6cc; }

li.nav-btn > a.current-index,
li.menu-btn > a.current-index {
  color: #fff; }

li.nav-btn > a:hover, li.nav-btn > a:focus {
  color: #fff; }


.left{
	width: 20%;
}

.leftUp{
	
}
.real_wathch{
	position: relative;
}

.real_wathch img{
	width: 100%;
}

.real_wathch #watchCanvas{
	position: absolute;
	width: 49%;
	top: 32.8%; 
	left: 25%; 	

}

#changeWatch {
    width: auto;
    height: 34px;
    overflow: hidden;
    background: #ddd;
}

#changeWatch select {   
    background: url("../img/select_arrow.jpg") no-repeat right rgb(239, 239, 239) ;   
    width: 100%;   
    padding: 5px;   
    font-size: 16px;       
    border: 2px solid rgb(210, 210, 210);   
    height: 34px;   
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;

    -moz-border-radius: 4px;
    
    border-radius: 4px; 
}

.middle{
	width: 40%;
}
.watchpainter{
  margin: 0 10px;
  border: 2px solid rgb(210, 210, 210); 
}


.right{
	width: 39%;
}

/*.storehouse .up_img_btn_box{
  display: flex;
  justify-content:center; 
}*/

.storehouse .up_img_btn_box input[type="file"]{
  display: none;
}

.createControler button,
.createLayer button,
.storehouse .up_img_btn_box button{
  border: 0;
  margin: 0;
  padding: 0; 
  width: 100%;
  height: 5rem; 
  background: rgb(83, 178, 234);
  font-weight: bold;
  font-family: "YouYuan","Microsoft YaHei",微软雅黑,"MicrosoftJhengHei";
  font-size: 2.5rem;

  border:2px solid rgb(210, 210, 210);
  border-top: 0px;
  border-radius: 0 0 8px 8px;
  -moz-border-radius:0 0 8px 8px; /* 老的 Firefox */
}

.storehouse .previewContainer{
  width: auto;
  height: 200px;
  max-height: 300px;
  overflow: auto;
  padding-left: 1px;
  display: flex;
  display: -webkit-flex; /* Safari */
  flex-wrap: wrap;  
  align-items: flex-start;
  background: #FFF;

  border:2px solid rgb(210, 210, 210); 
  border-top: 0; 
}
.storehouse .previewContainer .previewTray{
  border: 1px solid rgb(0, 202, 176);
  margin: 4px 4px 0 0;
  
  max-width: 30%;
  
}

#imgBoxAndboxName .boxNameBar{
  margin:1rem 0 0 0; 
  background-color: rgb(246, 244, 245);
  width: auto;
  max-height: 95px;
  overflow: auto; 

  border:2px solid rgb(210, 210, 210); 
  border-radius: 4px 4px 0 0;
  -moz-border-radius:4px 4px 0 0; 
}

#imgBoxAndboxName .boxNameBar #boxNameBarList{
  padding: 3px;
  display: flex;
  display: -webkit-flex; /* Safari */
  flex-wrap: wrap;    
  align-content:flex-start;
  margin-bottom:  -4px;
  
}

#imgBoxAndboxName .boxNameBar li{

  border: 2px solid rgb(0, 102, 157);
  border-radius:4px;
  -moz-border-radius:4px;
  display: inline-flex;
  display: -webkit-inline-flex; /* Safari */
  
}
#imgBoxAndboxName .boxNameBar .boxNameString{
  /*margin-right: 1x0p;*/
  padding: 2px;
  padding-right: 0;
  width: 50px;
  border-bottom: 0px;
  cursor: default;
}

#imgBoxAndboxName .boxNameBar li{
  margin: 0px 8px 5px 0;
}

#imgBoxAndboxName .boxNameBar li:hover{
  /*background-color: red;*/
  -moz-box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
  box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
}

#imgBoxAndboxName .boxNameBar .boxNameStringSelect{
  background-color: rgb(81, 179, 252);
}

#imgBoxAndboxName .boxNameBar .addImgBoxBtn{
  padding: 0;  
  width: 25px;
  height: 24px;   
  background: url('../img/img_plus.png') no-repeat center;
  background-size: cover;

  border-radius:4px;
  -moz-border-radius:4px;
}

#imgBoxAndboxName .boxNameBar li button{
  padding: 0;

  width: 20px;
  border: solid rgb(210, 210, 210); 
  border-width: 0;
  border-radius:0 4px 4px 0;
  -moz-border-radius:0 4px 4px 0;
  background: url('../img/close_icon.png') no-repeat center ;
  background-size: cover;
}

#imgBoxAndboxName .imgBox{
  width: auto; 

  display: flex;
  display: -webkit-flex; /* Safari */
  flex-wrap: wrap;  
  align-items: flex-start;
  align-content:space-around;
}
.rightDown,
.rightMiddle{
  width: auto;
  max-height: 230px;
  overflow:auto;
}
#controlerInfoBarList,
.addLayer{
  margin: 10px 0 0 0;
  
  border:2px solid rgb(210, 210, 210); 
  -moz-border-radius: 8px 8px 0 0;
  
  border-radius: 8px 8px 0 0;

  background-color: rgb(0, 202, 176);
}

.controlerInfoBar,
.layerInfoBar{
  display: flex;
  display: -webkit-flex; /* Safari */
  flex-direction:column;
  flex-wrap: wrap;  
  align-items: center;
  align-content:space-around;  
  justify-content: center;
  height: 55px;
  padding:5px 0 5px 1rem;
  border-bottom: 2px solid rgb(217,217,217);
  font:bold 1.5rem 'BebasNeueRegular', Arial, Helvetica, sans-serif; 
}

.controlerInfoBar p,
.layerInfoBar p{
  font: bold 2rem "YouYuan","Microsoft YaHei",微软雅黑,"MicrosoftJhengHei";
  margin-bottom: 5px;
}

.layerInfoBar p:hover{
  cursor:pointer;
}

.controlerInfoBar select,
.layerInfoBar select{
  height: 22px;
  font-size: 1rem;
}

.layerInfoBar input{
  width: 50px;
  margin-bottom: 2px;
  
  /*margin-right: 10px;*/
}

.controlerInfoBar button,
.layerInfoBar button{
  padding: 10px;  
  width: auto;  
  background: rgb(248, 110, 92);
  background-size: cover;

  border: solid rgb(210, 210, 210); 
  border-width: 2px;
  border-radius: 4px;

}
.controlerInfoBar select{
  width: 65px;
}

